.container {
  width: 100%;
  max-width: 288px;
  margin-right: 10px;
  padding: 8px 28px;

  height: 500px;

  .header {
    width: 100%;
    margin-bottom: 24px;
    border-bottom: 1px solid #4F4F68;
    padding-bottom: 10px;
    color: #CFCFE8;
  }

  .categories {
    width: 100%;
    list-style: none;

    .category {
      color: #CFCFE8;
      margin: 8px 0px;
      display: flex;
      justify-content: space-between  ;
    }
  }
}