.container {
  max-width: 1212px;
  width: 100%;
  margin: 7rem auto;
  display: flex;
  justify-content: center;
  position: relative;

  @media(max-width: 1024px) {
    margin: 1rem auto;
  }

  @media (min-width: 1025px) {
    min-height: calc(100vh - 24rem);
  }

  .fake_col {
    width: 100%;
    max-width: 288px;
  }
}
