@import './content';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --gray100: #f4f6fc;
  --gray300: #a8a8b3;
  --gray700: #37384A;
  //--gray800: #272730;
  --gray800: #121214;
  --gray850: #09090E;
  --gray900: #030309;
  --secondary: #40E0D0;
  --primary: #8b96ff;

  --overflow: auto;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  //background: var(--gray800);
  background-image: linear-gradient(to bottom, var(--gray800) 50%, var(--gray900) 100%);
  color: var(--white);
  overflow-x: hidden;

  @media(max-width: 1024px) {
    padding-top: 70px;
  }

  @media (max-width: 425px) {
    padding-top: 4rem;
  }
}

body, input, textarea, select, button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.is-flex {
  display: flex;
}

.is-justify-content-space-between {
  justify-content: space-between;   
}

.carousel-active {
  cursor: grabbing !important;
}

body {
  @media (max-width: 768px) {
    overflow-y: var(--overflow);
  }
}

.no-display {
  display: none;
}