.container {
  width: 100%;
  height: 130vh;
  position: relative;
}

.title{
  color: #ffffff;
  position: absolute;
  top: calc(50vh - 42px);
  left: 0;
  right: 0;
  width: 90%;
  max-width: 700px;
  text-align: center;
  font-weight: 300;
  margin: 0 auto;

  &::after {
    content: '|';
    opacity: 1;
    animation: piscar 1s infinite;
  }

  @media(max-width: 768px){
    top: calc(50vh - 130px);
  }

}

@keyframes piscar{
	0%, 100%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
}

.quote{
  position: absolute;
  margin: auto;
  width: 100%;
  color: #ffffff;
  height: 24px;
  bottom: 0px;
  top: 0px;
  text-align: center;
  
  @media (max-width: 360px) {
    padding-top: 8px;
  }
}