.container {
  width: 100%;
  max-width: 288px;
  background-color: black;
  margin-left: 10px;

  height: 500px;

  .header {
    width: 100%;
  }

  .categories {
    width: 100%;

    .category {
      color: #fff;
    }
  }
}