@import '../styles/mixins.scss';

@include animation-mixin(rotation_1, 0deg, 360deg);
@include animation-mixin(rotation_2, 360deg, 0deg);
@include animation-mixin(rotation_3, 0deg, 360deg);
@include animation-mixin(rotation_4, 360deg, 0deg);

.main {
  max-width: 1212px;
  margin: 0 auto;
  padding: 0 2rem;
  height: calc(100vh - 5rem);
  display: flex;
  align-items: center;

  @media (max-width: 1024px) {
    align-items: flex-start;
    padding-top: 10rem;
  }

  @media (max-width: 375px) {
    zoom: .75;
  }

  .section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media (max-width: 1024px) {
      flex-direction: column;
    }

    .content {

      > span {
        font-size: 1.5rem;
        font-weight: bold;
      }
    
      h1 {
        font-size: 3.2rem;
        line-height: 3.2rem;
        font-weight: 900;
        margin-top: 1rem;
    
        span {
          color: var(--secondary);
        }
      }
    
      p {
        font-size: 1.5rem;
        line-height: 2.25rem;
        margin-top: 1rem;
    
        span {
          margin-top: 2.5rem;
        }
      }

      .input {
        width: 100%;
        max-width: 365px;
        height: 48px;
        background-color: #484861;
        border-radius: 8px;
        border: none;
        margin-top: 1rem;
        padding: 20px;
        color: #AFAFB4;
      }

      .button {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        border: none;
        margin-top: 0.5rem;
        background-color: var(--secondary);
        color: #fff;
      }
    }
    
    .presentationImage {
      max-width: 360px;
      height: 360px;
      width: 100%;
      position: relative;

      @media (max-width: 1024px) {
        display: none;
      }
  
      img {
        top: 0;
        position: absolute;

        &:nth-child(1) {
          animation: rotation_1 36s linear infinite;
          filter: blur(2px);
        }
        
        &:nth-child(2) {
          animation: rotation_2 12s linear infinite;
        }

        &:nth-child(3) {
          animation: rotation_3 24s linear infinite;
          filter: blur(1px);
        }

        &:nth-child(4) {
          animation: rotation_4 6s linear infinite;
        }
      }
    }
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

