.container {
  max-width: 1212px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;

  @media(max-width: 1024px){
    flex-direction: column;
  }

  .post {
    max-width: 900px;
    margin-top: 7rem;
    margin-bottom: 2rem;

    @media(max-width: 1024px) {
      margin: 2rem auto;
    }

    @media(max-width: 540px) {
      margin: 1rem auto;
    }

    .image {
      width: 100%;
      max-height: 360px;
      border-radius: 8px;
      margin-bottom: 2rem;
      object-fit: cover;
    }

    .text {
      max-width: 800px;      

      .header {

        h1 {
          font-size: 2rem;
          font-weight: 900;
        }

        h2 {
          font-size: 1.4rem;
          margin-top: 14px;
          
        }
    
        time {
          display: block;
          font-size: 1rem;
          color: var(--gray300);
          margin-top: 1rem;
        }
      }

  
      .static_content {
        margin-top: 2rem;
        line-height: 2rem;
        font-size: 1.125rem;
        color: var(--gray100);
  
        p, ul {
          margin: 1.5rem 0;
        }
  
        ul {
          padding-left: 1.5rem;
  
          li {
            margin: 0.5rem;
          }
        }

        a {
          color: #00FFC2;
          text-decoration: underline;
        }

        code {
          background-color: #111;
          padding: 4px 8px;
          border-radius: 8px;
          color: #00FFC2;
        }

        img {
          width: 100%;
          object-fit: cover;
          max-height: 360px;
          border-radius: 8px;

          margin: 2rem 0;
        }
      }
    }
  }
}
