@import '../../../styles/functions.scss';

.posts {
  max-width: 596px;
  margin: 0 auto;
  width: calc(100% - 24px);
  
  @media(min-width: 1025px) {
    width: calc(100% - 64px);
    display: grid;                                                
    grid-auto-rows: 10px;                                         
    grid-gap: 20px;                                               
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  }
}