@media(max-width: 1024px) {
  .container {
    width: 100%;
    //padding: 16px 32px;
    margin: 0 auto;
    overflow-x: hidden;
    background-color: #45455C;

    .header {
      display: none;
    }

    .categories {
      list-style: none;
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      padding: 16px 32px;

      &::-webkit-scrollbar {
        display: none;
      }
    
      .category {
        color: #CFCFE8; 
        display: flex;
        justify-content: space-between;
        padding: 12px 15px;
      }
    }
  }
}

@media(min-width: 1025px) {
  .container {
    width: 100%;
    max-width: 288px;
    margin-right: 10px;
    padding: 8px 28px;
  
    height: 500px;
  
    .header {
      width: 100%;
      margin-bottom: 24px;
      border-bottom: 1px solid #4F4F68;
      padding-bottom: 10px;
      color: #CFCFE8;
    }
  
    .categories {
      width: 100%;
      list-style: none;
  
      .category {
        color: #CFCFE8;
        margin: 16px 0px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
      }
    }
  }
}