.container {
  max-width: 1212px;
  width: 100%;
  margin: 7rem auto;
  display: flex;
  justify-content: center;

  @media(max-width: 1024px) {
    margin: 1rem auto;
  }

  @media (min-width: 1025px) {
    min-height: calc(100vh - 24rem);
  }

  .fake_col {
    width: 100%;
    max-width: 288px;
  }
}


.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 128px;

  .title {
    margin-bottom: 32px;
  }

  .form {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    width: 1024px;

    .label {
      max-width: 100%;
      width: 1024px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 4px auto;

      .input {
        max-width: 80%;
        width: 900px;
        border-radius: 4px;
        border: none;
        padding: 8px 8px;
        margin-left: 8px;
      }
    }

    .content_label {
      margin-top: 32px;
      font-size: 20px;
    }

    .button {
      border-radius: 4px;
      margin-top: 0px;
      height: 32px;
    }
  }
}