.container {
  width: 100%;
  height: auto;
  padding-bottom: 32px;
  background-color: #121414;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  overflow: hidden;
}

.title{
  margin-bottom: 32px;
  margin-top: 0px;
}