.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 220px);

    @media (max-width: 1024px) {
      min-height: calc(100vh - 285px);
    }

    @media(max-width: 768px) {
      min-height: calc(100vh - 310px);
    }

    .section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media(max-width: 768px) {
            flex-direction: column;
        }

        .painel {
            border: 1px #fff solid;
            border-radius: 8px;
            margin: 8px;
            width: 300px;
            max-width: 95%;
            height: 200px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all 0.5s;

            &:hover {
                scale: 1.02;
                transition: all 0.5s;
            }

            .icon {
                max-width: 100px;
                margin-bottom: 16px;
            }
        }
    }
}
