.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;

    .title {
        margin-bottom: 32px;
    }

    .form {
        display: flex;
        flex-direction: column;

        .label {
            width: 600px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 4px auto;

            .input {
                width: 400px;
                height: 40px;
                border-radius: 4px;
                border: none;
            }
        }

        .button {
            border-radius: 4px;
            margin-top: 16px;
            height: 32px;
        }
    }
}